<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{{title}}</title>

    <link rel="stylesheet" href="/public/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <main class="main-container">
        <header>
            <form action="/search" method="POST" id="form">
                <label for="search_bar">Search</label>
                <input id="search_bar" type="text" name="search_bar" placeholder="e.g. AMZN" required />
                <label for="search"></label>
                <button type="button" id="search" value="Find" class="btn" onclick="checkInput()"><i
                        class="fa fa-search" aria-hidden="true"></i>Find
                </button>
            </form>
            <div>
                <p class="output"><em>Voice results</em></p>
            </div>
            <script>
                function checkInput() {
                    if (document.getElementById("search_bar").value == "") {
                        alert("Please enter a stock name");
                    }
                    else {
                        console.log("submitted");
                        $('#form').submit();
                    }
                }
            </script>
        </header>

        {{{body}}}

        <footer>
        <p>
                © 2019 TickerTalk, Inc. <br> CS546 Section B Group 18
            </p>
        </footer>
    </main>

    <script src="/public/speechScript.js"></script>
</body>

</html>