<div id="right">
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
</div>

<link rel="stylesheet" href="/public/site.css">

<article class="ind">
    <h1 class="ing">Ticker Talk</h1>
    {{msg}}

    {{{body}}}
</article>